.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  text-align: center;
  background-color: $color-1;
  width: 100%;
  border-bottom: 1px solid $color-3;
  transition: 0.4s all ease;
  z-index: 5;
  .navContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    a {
      position: relative;
      color: $color-3;
      text-decoration: none;
      text-transform: uppercase;
      font-size: clamp(1.1rem, 1.5vw, 2.1rem);
      &::after {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        height: 0;
        width: 0;
        background-color: rgba($color-3, 0);
        transition: 0.4s all ease;
      }
      &:hover,
      &:focus {
        &::after {
          height: 1px;
          width: 100%;
          background-color: rgba($color-3, 1);
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    left: -40rem;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, rgba($color-1, 1) 0%, rgba($color-1, 0.7) 100%);
    border-right: 1px solid $color-3;
    border-bottom: none;
    &.opened-menu {
      left: 0;
      .navContent {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

#icon-menu {
  display: none;
  @media screen and (max-width: 576px) {
    display: inline-block;
    position: fixed;
    top: 0;
    cursor: pointer;
    z-index: 6;
  }
  #up,
  #middle,
  #down {
    transition: 0.4s all ease-in-out;
  }
  .opened-burger {
    #up {
      transform: translate(7px, 0px) rotate(45deg);
    }
    #middle {
      opacity: 0;
    }
    #down {
      transform: translate(-10px, 8.5px) rotate(-45deg);
    }
  }
}
